.form-cadastro {
    max-width: 600px;
    margin: 0 auto;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="password"],
  .form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;

  }
  
  .btn-cadastrar {
    background-color: #009688;
    color: #fff;
    padding: 10px;
  }
  
  .btn-voltar {
    background-color: #574f66;
    color: #870a0a;
    padding: 10px;
    margin-left: 100px;
  }
  