.container {
  text-align: center;
}

.title {
  margin-bottom: 20px;
}

.form-cadastro {
  max-width: 600px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="password"],
.form-group input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.btCadastro-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
}

.btn-cadastrar {
  display: inline-block;
  background-color: #3c0ebe;
  color: #fff;
  padding: 10px;
  margin-right: 10px;
  min-width: 150px;
}

.btn-voltar {
  display: inline-block;
  background-color: #574f66;
  color: #3c0ebe;
  padding: 10px;
  min-width: 150px;
}

@media (max-width: 600px) {
  .form-cadastro {
    max-width: 100%;
    margin: 0 10px;
  }

  .btCadastro-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0px;
  }

  .btn-voltar {
    margin-right: 10px;
    margin-top: 10px;
  }
}
