.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
  position: relative;
}

.modal-header {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.modal-body {
  margin-bottom: 20px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-button-cancel {
  background-color: #023e73;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.modal-button-delete {
  background-color: #af0514;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 80%;
  max-width: 1200px;
}

.home-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.home-datePickerContainer {
  display: flex;
  align-items: center;
  background-color: #023e73;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: white;
}

.home-datePicker {
  padding: 6px;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  width: 150px;
  margin-left: 10px;
}

.home-addButton {
  background-color: #023e73;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  border-radius: 5px;
  width: 150px;
  transition: background-color 0.3s ease;
}
.home-editButton {
  background-color: #023e73;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  border-radius: 5px;
  width: 70px;
  transition: background-color 0.3s ease;
}
.home-deleteButton {
  background-color: #af0514;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  width: 70px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.home-addButton:hover,
.home-editButton:hover {
  background-color: #035ba8;
}
.home-deleteButton:hover {
  background-color: #e20404;
}

.home-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.home-table th,
.home-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.home-table th {
  background-color: #023e73;
  font-weight: bold;
  color: white;
}

.home-table td {
  background-color: #f8f8f8;
  color: #141414;
  font-weight: 600;
}

.home-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.home-table tbody tr:hover {
  background-color: #e5e5e5;
}

.home-dashboard-table-container {
  margin-top: 20px;
}

.home-dashboard-table-container .home-table {
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.home-dashboard-table-container .home-table th,
.home-dashboard-table-container .home-table td {
  padding: 8px;
  text-align: center;
}

.home-dashboard-table-container .home-table th#description,
.home-dashboard-table-container .home-table td#description {
  width: 30%;
  text-align: left;
}

.home-dashboard-table-container .home-table th#due-date,
.home-dashboard-table-container .home-table td#due-date,
.home-dashboard-table-container .home-table th#value,
.home-dashboard-table-container .home-table td#value,
.home-dashboard-table-container .home-table th#status,
.home-dashboard-table-container .home-table td#status,
.home-dashboard-table-container .home-table th#created-at,
.home-dashboard-table-container .home-table td#created-at,
.home-dashboard-table-container .home-table th#updated-at,
.home-dashboard-table-container .home-table td#updated-at {
  width: 15%;
}

.billing-table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.billing-table thead {
  background-color: #023e73;
  color: white;
}

.billing-table th,
.billing-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.billing-table th {
  font-weight: bold;
}

.billing-table td {
  background-color: #f2f2f2;
}

@media (max-width: 1900px) {
  .home-container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .home-container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .home-container {
    width: 90%;
  }

  .home-dashboard-table-container .table-responsive {
    overflow-x: auto;
  }
}

@media (max-width: 300px) {
  .home-container {
    width: 95%;
  }

  .home-datePickerContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .home-datePicker {
    margin-top: 10px;
    width: 100%;
  }
}


.success-message {
  background-color: #62c46c;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.success-message span {
  margin-right: 5px;
}