.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px auto; /* Aumenta a margem superior */
  width: 80%;
  max-width: 1200px;
}

.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.datePickerContainer {
  display: flex;
  align-items: center;
  background-color: #023e73;
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: white; /* Cor branca para o texto */
}

.datePicker {
  padding: 6px;
  border-radius: 5px;
  border: 1.5px solid #ccc;
  background-color: #fff;
  font-size: 14px;
  width: 200px;
  margin-left: 10px;
}

.addButton,
.editButton,
.deleteButton {
  background-color: #023e73;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.addButton:hover,
.editButton:hover,
.deleteButton:hover {
  background-color: #04adbf;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.table th {
  background-color: #023e73;
  font-weight: bold;
  color: white;
}

.table td {
  background-color: #f8f8f8;
  color: #141414;
  font-weight: 600;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #e5e5e5;
}

.dashboard-table-container {
  margin-top: 20px;
}

.dashboard-table-container .table {
  background-color: #f8f8f8;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.dashboard-table-container .table th,
.dashboard-table-container .table td {
  padding: 12px;
  text-align: center;
}

.dashboard-table-container .table th#description,
.dashboard-table-container .table td#description {
  width: 30%;
  text-align: left;
}

.dashboard-table-container .table th#due-date,
.dashboard-table-container .table td#due-date,
.dashboard-table-container .table th#value,
.dashboard-table-container .table td#value,
.dashboard-table-container .table th#status,
.dashboard-table-container .table td#status,
.dashboard-table-container .table th#created-at,
.dashboard-table-container .table td#created-at,
.dashboard-table-container .table th#updated-at,
.dashboard-table-container .table td#updated-at {
  width: 15%;
}

.billing-table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.billing-table thead {
  background-color: #023e73;
  color: white;
}

.billing-table th,
.billing-table td {
  padding: 12px;
  border: 1px solid #ccc;
  text-align: center;
}

.billing-table th {
  font-weight: bold;
}

.billing-table td {
  background-color: #f2f2f2;
}

@media (max-width: 1500px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .dashboard-table-container .table-responsive {
    overflow-x: auto;
  }
}

@media (max-width: 576px) {
  .container {
    width: 95%;
  }

  .datePickerContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .datePicker {
    margin-top: 10px;
    width: 100%;
  }
}
