@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: #ffffff;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  font-family: 'Roboto', sans-serif; /* Adição da fonte */
}

.label {
  margin: 0.5rem 0;
  font-weight: bold;
}

.btLogin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /* Adição da fonte */
}

.btLogin-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btLogin-wrapper btLogin {
  margin-bottom: 2rem;
  padding: 16px 32px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1rem;
}

.btLogin-wrapper btLogin:first-child {
  margin-bottom: 1rem;
}

.btLogin-wrapper btLogin:hover {
  background-color: #3c0ebe;
}

.log-in-btLogin {
  margin-top: 20px;
  background-color: #461bff;
  color: #fff;
  padding: 12px;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
  font-weight: bold;
}

.link {
  margin-top: 1rem;
  text-align: center;
}

.link:first-child {
  margin-top: 0;
  margin-bottom: 1rem;
}

.link,
.forgot-password-btLogin,
.create-account-btLogin {
  color: #461bff;
  font-size: 14px;
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

.link:hover,
.forgot-password-btLogin:hover,
.create-account-btLogin:hover {
  color: #3c0ebe;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 0.5rem;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 0.5rem;
}

.log-in-btLogin {
  margin-bottom: 2rem;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0.5rem;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  transition: border-color 0.3s ease;
  color: black;
  font-weight: bold;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border-color: #3c0ebe;
}

.login-form input[type="email"]:focus,
.login-form input[type="password"]:focus {
  border-color: #3c0ebe;
}

.error-message {
  color: red;
  margin-top: 8px;
}
