.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  margin: 0.5rem 0;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button-wrapper button {
  margin-bottom: 2rem;
}

.log-in-button {
  margin-top: 10px;
  background-color: #461bff;
  color: #fff;
  padding: 10px;
  border: none;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 5px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-left: 5vw;
  margin-right: 5vw;
}

.inputlogin {
  margin-left: .5rem;
  padding: .5rem;
  border: none;
  border-radius: 5px;
  width: 100%;
}
