.navbar {
  background-color: black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .navbar__logo img {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    margin-right: 5px; /* Ajuste o espaçamento conforme necessário */
  }

  .navbar__title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    margin-right: 780px; /* Ajuste o espaçamento conforme necessário */
    white-space: nowrap; /* Evita quebra de linha */
    margin-left: -470px; /* Ajuste o espaçamento conforme necessário */
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  li {
    display: inline-block;
    margin-right: 10px;

    a {
      color: white;
      text-decoration: none;
      display: flex;
      align-items: center;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: gray;
      }

      .navbar__icon {
        margin-right: 5px;
        font-size: 16px;
      }
    }
  }
}
