/* Estilos gerais */
.title {
  text-align: center;
  font-size: 30px;
}

.inputContainer input {
  margin-top: 2rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  font-size: 20px;
  outline: none;
  transition: border-color 0.3s ease;
  box-sizing: border-box; /* Adicione essa linha */
}

.inputContainer input:focus {
  border-color: #461bff;
}

.inputContainer input::placeholder {
  color: #888;
}

.inputContainer input + .inputIcon {
  color: #888;
  cursor: pointer;
  transition: color 0.3s ease;
}

.inputContainer input:focus + .inputIcon {
  color: #461bff;
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: space-between; /* Adicione essa linha */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  padding: 3rem;
  background-color: #f8f8f8;
  border-radius: 10px;
  width: 60%; /* Altere o valor para diminuir o tamanho do formulário */
  max-width: 400px; /* Altere o valor para diminuir o tamanho do formulário */
}
