/* Estilos gerais */
.title {
  text-align: center;
  font-size: 30px;
}

.inputtext,
.inputlogin {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btnadd,
.btnback {
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 5px;
}

.btnadd {
  background-color: #461bff;
}

.calender {
  background-color: #461bff;
  align-items: center;
  margin-top: 43rem;
}

.btnadd:hover {
  background-color: #291ad8;
  font-weight: 700;
}

.btnback {
  background-color: #d6091ae7;
}

.btnback:hover {
  background-color: #f00c0c;
  font-weight: 700;
}

/* Estilos específicos para diferentes elementos */
.descricao,
.valor,
.meuelemento {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}

.descricao input,
.valor input {
  width: 100%;
  max-width: 400px;
}

.meuelemento {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.botaoentrar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.logbutton {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 10%;
}

.registrobutton {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
