.esqueci-senha-container {

    color: #fff; /* Cor do texto */
    padding: 20px;
    width: 400px; /* Largura do container aumentada */
    margin: 0 auto; /* Centralizar o container */
  }
  
  .esqueci-senha-form label,
  .esqueci-senha-form input {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* Aumentar o tamanho da fonte */
  }
  
  .esqueci-senha-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adicionar margem no topo dos botões */
  }
  
  .esqueci-senha-enviar {
    background-color: #007bff; /* Cor do botão Enviar */
    color: #fff;
    border: none;
    padding: 12px 24px; /* Aumentar o padding do botão */
    cursor: pointer;
  }
  
  .esqueci-senha-voltar {
    background-color: #6c757d; /* Cor do botão Voltar */
    color: #fff;
    border: none;
    padding: 12px 24px; /* Aumentar o padding do botão */
    cursor: pointer;
    margin-left: 75px;
  }
  