.login-page {
  display: flex;
  flex-direction: row;
  justify-content: space;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  margin: 0.5rem 0;
}

input {
  margin-left: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.button-wrapper button {
  margin-bottom: 100px;
}

.log-in-button {
  margin-top: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10rem;
  margin-left: 100px;
}
