.descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400%;
  }
  .valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650%;
  }

  .meuelemento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
  }
 
  .botaoentrar {
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: space-between;
    
  }
  
  .title {
    text-align: center;
  }