/* CSS do componente Home */

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .date-picker {
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  
  .new-bill-button {
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .new-bill-button:hover {
    background-color: #0062cc;
  }
  
  .bill-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .bill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .bill-item span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .bill-item button {
    background-color: #dc3545;
    color: #fff;
    border-radius: 4px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .bill-item button:hover {
    background-color: #c82333;
  }
  
  .bill-item.paid {
    background-color: #28a745;
  }
  
  .bill-item.paid button {
    background-color: #fff;
    color: #28a745;
  }
  
  .balance {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
  }
  