.sidebar {
    position: fixed;
    top: 0;
    left: 5;
    right: 5px;
    height: 100vh;
    width: 320px;
    background-color: #fff;
    transform: translateX(-320px);
    transition: transform 0.3s ease-in-out;
  
    &.active {
      transform: translateX(0);
    }
  
    &__logo {
      display: grid;
      place-items: center;
      height: 120px;
      font-size: 1.5rem;
      font-weight: 700;
      font-family: 'Mochiy Pop P one', sans-serif;
    }
  
    &__menu {
      position: absolute;
  
      &__item {
        display: flex;
        align-items: center;
        place-content: flex-start;
        padding: 1rem 3rem;
        font-size: 1.25rem;
        font-weight: 500;
        color: #555555;
        transition: color 0.3s ease-in-out;
  
        &.active {
          color: #fff;
        }
  
        &__icon {
          margin-right: 1rem;
  
          i {
            font-size: 1.75rem;
          }
        }
      }
  
      &__indicator {
        position: absolute;
        top: 0;
        left: 50%;
        width: calc(100% - 40px);
        border-radius: 10px;
        background-color: #308efe;
        z-index: -1;
        transform: translateX(-50%);
        transition: 0.3s ease-in-out;
      }
    }
  
    &__toggle,
    &__hide {
      position: absolute;
      top: 0;
      right: -30px;
      background-color: #308efe;
      color: #fff;
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1.25rem;
      z-index: 1;
      cursor: pointer;
      transition: right 0.3s ease-in-out;
  
      &:hover {
        right: 0;
      }
    }
  
    &__toggle {
      left: -100px;
      border-radius: 0 10px 10px 0;
      display: none;
  
      & + & {
        margin-top: 1rem;
      }
    }
  
    &__hide {
      left: 0;
      border-radius: 10px  20px 10px;
  
      i {
        font-size: 1.5rem;
      }
    }
  

  }
  